<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="">
<style>
</style>
<script src=""></script>
<body>
    



<div class="container-fluid bg-1 text-center">
    <img src="assets/images/pets1.jpg" alt="LA" style="width:15%">
 <h1>About</h1>
 <p>Looking for Trucker friendly locations to fill your pet's needs? </p>
 <p>FIDO will help you to locate a friendly local
    pet store, dog park, or emergency medical facilities and a bigTruck parking spot at the same time.</p>
</div>

</body>
</html>