<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">FIDO</h3>
    <img src="assets/images/dogs.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Dog"
        width="350" height="350">
    <h3>Looking for Trucker friendly locations to fill your pet's needs? FIDO will help you to locate a friendly local
        pet store, dog park, or emergency medical facilities and a bigTruck parking spot at the same time.</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
    <h3 class="margin">LIST</h3>
    <p>Create a list for your pet's needs</p>
    <a href="list" class="btn btn-default btn-lg">
        <i class="fas fa-edit"></i> CREATE YOUR LIST
    </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
    <h3 class="margin">LOCATIONS W/ COUPONS</h3><br>
    <div class="row"*ngFor="let location of locations">
        <div class="col-sm-4"><h1>{{location.name}}</h1>
            <p>Services: 'Veterinarian', 'Pet Motel', 'Truck Parking'</p>
            <img src="assets/images/updown.jpg" class="img-responsive margin" style="width:100%" alt="Place1">
        </div>
        <!--<div class="col-sm-4"><h2>Kate's Canine Resort</h2>
            <p>Services: 'Pet Grooming', 'Pet Motel', 'Dog Walking'</p>
            <img src="assets/images/pets.jpg" class="img-responsive margin" style="width:100%" alt="Place2">
        </div>
        <div class="col-sm-4"><h3>KC Pet Food</h3>
            <p>Services: 'Everyday Wholesale Pricing', 'Truck Parking'</p>
            <img src="assets/images/food.jpg" class="img-responsive margin" style="width:100%" alt="Place3">
        </div>-->
    </div>
</div>
