<!-- First Container -->
<div class="container-fluid bg-1 text-center">
    <h3 class="margin">FIDO</h3>
    <img src="assets/images/dogs.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Dog"
        width="350" height="350">
    <h3>Looking for Trucker friendly locations to fill your pet's needs? FIDO will help you to locate a friendly local pet store, dog park, or emergency medical facilities and a bigTruck parking spot at the same time.</h3>
</div>

<!-- Third Container (Grid) -->
    <div class="row margin-list"*ngFor="let location of locations; let i=index">
        <div class="division-div">
        <div><h2><a routerLink="/location/{{location._id}}">{{location.name}}</a></h2></div>
        <div> <h3>Services: {{location.facilities}}</h3></div>
        </div>
        <div class="second-div"><img src="{{images[i]}}" class="img-responsive margin" 
            style="width:15%" alt="Photo of two dogs"></div>
        
    </div>