<div class="container-fluid bg-3 text-center">
    <h3 class="margin">LOCATIONS W/ COUPONS</h3><br>
    <div class="row">
        <div class="col-sm-4"><h1>Petco</h1>
            <p>Services: 'Veterinarian', 'Pet Motel', 'Truck Parking'</p>
            <img src="assets/images/updown.jpg" class="img-responsive margin" style="width:100%" alt="Place1">
        </div>
        <div class="col-sm-4"><h2>Kate's Canine Resort</h2>
            <p>Services: 'Pet Grooming', 'Pet Motel', 'Dog Walking'</p>
            <img src="assets/images/pets.jpg" class="img-responsive margin" style="width:100%" alt="Place2">
        </div>
        <div class="col-sm-4"><h3>KC Pet Food</h3>
            <p>Services: 'Everyday Wholesale Pricing', 'Truck Parking'</p>
            <img src="assets/images/food.jpg" class="img-responsive margin" style="width:100%" alt="Place3">
        </div>
    </div>
</div>