<div class="newLocation">
  <form (ngSubmit)="newLocationSubmit()" class="form-inline">
    <h4>Create new location</h4>
    <div *ngIf="formError" class="alter alert-danger" role="alert">
      {{formError}}
    </div>
    <div class="form-group row col-12">
      <label for="name" class="col-5">Location name</label>
      <input id="name" name="name" required="required" class="form-col-5 control input -small" [(ngModel)]="newLocation.name">
    </div>
    <div class="form-group row col-12">
      <label for="address" class="col-5">Address</label>
      <input id="address" name="address" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.address">
    </div>
    <div class="form-group row col-12">
      <label for="facilites" class="col-5">Facilites</label>
      <input id="facilites" name="facilites" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.facilites">
    </div>
    <div class="form-group row col-12">
      <label for="longitude" class="col-5">Longitude</label>
      <input id="longitude" name="longitude" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.lng">
    </div>
    <div class="form-group row col-12">
      <label for="latitude" class="col-5">Latitude</label>
      <input id="latitude" name="latitude" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.lat">
    </div>
    <div class="form-group row col-12">
      <label for="days1" class="col-5">Days 1</label>
      <input id="days1" name="days1" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.days1">
    </div>
    <div class="form-group row col-12">
      <label for="openings1" class="col-5">Opening 1</label>
      <input id="openings1" name="openings1" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.openings1">
    </div>
    <div class="form-group row col-12">
      <label for="closing1" class="col-5">Closing 1</label>
      <input id="closing1" name="closing1" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.closing1">
    </div>
    <div class="form-group row col-12">
      <label for="closed1" class="col-5">Closed 1</label>
      <input id="closed1" name="closed1" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.closed1">
    </div>
    <div class="form-group row col-12">
      <label for="days2" class="col-5">Days 2</label>
      <input id="days2" name="days2" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.days2">
    </div>
    <div class="form-group row col-12">
      <label for="openings2" class="col-5">Openings 2</label>
      <input id="openings2" name="openings2" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.openings2">
    </div>
    <div class="form-group row col-12">
      <label for="closing2" class="col-5">Closing 2</label>
      <input id="closing2" name="closing2" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.closing2">
    </div>
    <div class="form-group row col-12">
      <label for="closed2" class="col-5">Closed 2</label>
      <input id="closed2" name="closed2" required="required" class="col-5 form-control  
      input-small" [(ngModel)]="newLocation.closed2">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary float-right" style="margin-left: 15px">Add Location</button>
      <button type="button" class="btn btn-danger float-right"><a routerLink="/admin">Cancel</a></button>
    </div>
  </form>
</div>