extends layout
block content
  .row.banner
    .col-12
      h1= title
  .row
    .col-12.col-lg-8
      p
        | FIDO was created to help Truckers find places for your Pet's needs, and a bigTruck parking spot at the same time! work done. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eos obcaecati distinctio ipsa, alias laborum sunt reiciendis eius assumenda nostrum voluptatibus excepturi, placeat fugit earum incidunt asperiores quos explicabo? 
        | <br /><br />
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi dignissim accumsan. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, nihil, ipsa ipsam sequi autem facere ab ullam dolorem perferendis facilis exercitationem illum omnis dicta consequatur quas, at magnam et officia? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, nostrum deserunt modi sequi in doloremque consectetur. Ad eligendi nihil reprehenderit reiciendis quasi aliquid voluptates quis vitae accusamus magni. Libero, ex!