<nav class="navbar fixed-top navbar-expand-md ">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" a routerLink="" routerLinkActive="active" class="nav-link">FIDO</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a routerLink="about" routerLinkActive="active" class="nav-link">ABOUT</a>
          </li>
          <li class="nav-item">
            <a routerLink="coupons" routerLinkActive="active" class="nav-link">COUPONS</a>
          </li>
          <li class="nav-item">
            <a routerLink="list" routerLinkActive="active" class="nav-link">LIST</a>
          </li>
          <li class="nav-item"><a routerLink="comments" routerLinkActive="active" class="nav-link">COMMENTS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>